.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
docker
*.md
